{% extends "base.html.twig" %}
{% block body %}
	<h1 class="text-center mb-4">About Us</h1>
	<div class="card m-3">
		<div class="card-body">
			<h5 class="card-title">Our Mission</h5>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis nibh arcu. Phasellus volutpat, mi ac convallis tristique, neque libero mattis risus, id faucibus felis ipsum eu risus. Nunc dignissim sapien vel consequat fringilla. Nam convallis velit eget purus fermentum, et interdum leo posuere.</p>
		</div>
	</div>
	<div class="card m-3">
		<div class="card-body">
			<h5 class="card-title">Our Team</h5>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis nibh arcu. Phasellus volutpat, mi ac convallis tristique, neque libero mattis risus, id faucibus felis ipsum eu risus. Nunc dignissim sapien vel consequat fringilla. Nam convallis velit eget purus fermentum, et interdum leo posuere.</p>
		</div>
	</div>
	<div class="card m-3">
		<div class="card-body">
			<h5 class="card-title">Contact Us</h5>
			<p class="card-text">Email: mbarkihoussem99@gmail.com</p>
			<p class="card-text">Phone: +21655590090</p>
		</div>
	</div>
{% endblock %}