<footer class="mt-auto p-2 d-flex justify-content-around align-items-center bg-secondary text-white">
	<p>© Copyright 24 |
		<a class="link-underline link-underline-opacity-0" href="{{ path('app_about') }}">About Us</a>
	</p>
</footer>