{% extends "base.html.twig" %}

{% block title %} CRUD Posts Project {% endblock %}

{% block body %}
	
    <div class="jumbotron text-center">
		<h1 class="display-4">Welcome to My CRUD Posts Project</h1>
		<p class="lead">This is a simple CRUD (Create, Read, Update, Delete) application for managing posts.</p>
	</div>

{% endblock %}